<ion-header class="ion-no-border" mode="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button slot="end" size="small" fill="clear">
            <ion-icon name="locate"></ion-icon>
            Bhavnagar
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">
        <img src="assets/imgs/document.jpg">
        <ion-label class="bold_lbl">Medical Documents</ion-label>
        <ion-label class="small_lbl">Keep all your medical documents in one place and stop worrying about losing them.</ion-label>
        <div class="abs_div">
            <ion-button expand="block" shape="round" (click)="goToUploadDocuments()">
                Upload Documents
            </ion-button>
        </div>
    </div>
</ion-content>
